<%- include header.ejs %>

<div class="jumbotron">
<h1 class="display-3">Welcome!</h1>
<p class="lead">This is the token redemption application we have worked on for our project.</p>
<hr class="my-4">
<p>Group members:</p>
<p>LEUNG Chun Kit Daniel (1155047572)</p>
<p>NG Ho Yin (1155073002) </p>
<p class="lead">
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</p>
</div>

<%- include footer.ejs %>
