     <script src="/backend/vendors/jquery-1.9.1.js"></script>
        <script src="/backend/bootstrap/js/bootstrap.min.js"></script>
        <script src="/backend/vendors/datatables/js/jquery.dataTables.min.js"></script>
        <script src="/backend/vendors/jquery.uniform.min.js"></script>
        <script src="/backend/vendors/chosen.jquery.min.js"></script>
        <script src="/backend/vendors/bootstrap-datepicker.js"></script>

        <script src="/backend/vendors/wysiwyg/wysihtml5-0.3.0.js"></script>
        <script src="/backend/vendors/wysiwyg/bootstrap-wysihtml5.js"></script>

        <script src="/backend/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>

        <script type="text/javascript" src="/backend/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="/backend/assets/form-validation.js"></script>


        <script src="/backend/assets/scripts.js"></script>
        <script src="/backend/assets/DT_bootstrap.js"></script>

         </body>
</html>