     <script src="/backend/vendors/jquery-1.9.1.js"></script>
        <script src="/backend/bootstrap/js/bootstrap.min.js"></script>
        <script src="/backend/vendors/datatables/js/jquery.dataTables.min.js"></script>


        <script src="/backend/assets/scripts.js"></script>
        <script src="/backend/assets/DT_bootstrap.js"></script>

         </body>
</html>